@import url("reset.css");

.wrapper {
  min-height: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.container {
  max-width: 1180px;
  margin: 0px auto;
}

.content {
  flex: 1 1 auto;
}

/* начальные стили любого проэкта initial styles of any project */
