* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

body {
  background: #f6b17a;
  color: black;
  padding: 30px;
}

a {
  text-decoration: none;
  color: white;
}
h1 {
  font-size: 2.25rem;
}
h2 {
  margin-bottom: 20px;
}

li {
  margin: 0 0 10px 30px;
}
ul {
  margin-top: 10px;
}

.bold {
  font-weight: bold;
}

.info {
  margin-bottom: 20px;
}

@media (min-width: 1000px) {
  main {
    display: flex;
  }

  article {
    margin-right: 20px;
  }
}
